<div [@routerTransition]>
    <app-page-header [heading]="'Liste des demandes'" [icon]="'fas fa-bars'">

    </app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
          <div class="card mb-3">
            <div class="card-header">Toutes les demandes à traiter</div>
            <table class="card-body table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Id place</th>
                  <th>Client</th>
                  <th>Date</th>
                  <th>Type</th>
                  <th>Demande</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let request of requests">
                  <tr class="table-info" *ngIf="request?.space?.type === 'CAR'">
                    <th scope="row">{{request?.id}}</th>
                    <td>{{request?.space?.id}}</td>
                    <td>{{request?.user?.name}}</td>
                    <td>{{request?.creationDate | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                    <td>Voiture</td>
                    <td>
                      <app-modal-accept [id]=request?.id (onAccepted)="onAccepted($event)"></app-modal-accept>
                      <app-modal-refuse [id]=request?.id (onRejected)="onRejected($event)"></app-modal-refuse>
                    </td>
                  </tr>
                  <tr class="table-success" *ngIf="request?.space?.type === 'PLANE'">
                    <th scope="row">{{request?.id}}</th>
                    <td>{{request?.space?.id}}</td>
                    <td>{{request?.user?.name}}</td>
                    <td>{{request?.creationDate | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                    <td>Avion</td>
                    <td>
                      <app-modal-accept [id]=request?.id (onAccepted)="onAccepted($event)"></app-modal-accept>
                      <app-modal-refuse [id]=request?.id (onRejected)="onRejected($event)"></app-modal-refuse>
                    </td>
                  </tr>
                  <tr class="table-warning" *ngIf="request?.space?.type === 'BICYCLE'">
                    <th scope="row">{{request?.id}}</th>
                    <td>{{request?.space?.id}}</td>
                    <td>{{request?.user?.name}}</td>
                    <td>{{request?.creationDate | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                    <td>Vélo</td>
                    <td>
                      <app-modal-accept [id]=request?.id (onAccepted)="onAccepted($event)"></app-modal-accept>
                      <app-modal-refuse [id]=request?.id (onRejected)="onRejected($event)"></app-modal-refuse>
                    </td>
                  </tr>
                  <tr class="table-danger" *ngIf="request?.space?.type === 'CAR_DISABLED'">
                    <th scope="row">{{request?.id}}</th>
                    <td>{{request?.space?.id}}</td>
                    <td>{{request?.user?.name}}</td>
                    <td>{{request?.creationDate | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                    <td>Handicapé</td>
                    <td>
                      <app-modal-accept [id]=request?.id (onAccepted)="onAccepted($event)"></app-modal-accept>
                      <app-modal-refuse [id]=request?.id (onRejected)="onRejected($event)"></app-modal-refuse>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
    </div>
</div>
