<style>
  a:hover {
    text-decoration: none;
  }
</style>
<div [@routerTransition]>
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                  <a href="Javascript:void(0)" [routerLink]="['/parkings']">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                    <div *ngIf="slider.text == 'Avion'" class="carousel-caption" style="color: white;text-shadow: 0px 0px 7px black;background-color: rgba(0, 0, 0, 0.5);border-radius: 10px">
                        <h3 >{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                    <div  *ngIf="slider.text == 'Voiture'" class="carousel-caption" style="text-shadow: 0px 0px 7px white; color:black;background-color: rgba(255, 255, 255, 0.5);border-radius: 10px">
                      <h3>{{slider.label}}</h3>
                      <p> {{slider.text}}</p>
                    </div>
                  </a>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
          <a href="Javascript:void(0)" [routerLink]="['/parkings']">
            <app-stat [bgClass]="'primary'" [icon]="'fa-car'" [count]="nb_car" [label]="'Voiture'" ></app-stat>
          </a>
        </div>
        <div class="col-xl-3 col-lg-6">
          <a href="Javascript:void(0)" [routerLink]="['/parkings']">
            <app-stat [bgClass]="'warning'" [icon]="'fa-bicycle'" [count]="nb_bicycle" [label]="'Vélo'" ></app-stat>
          </a>
        </div>
        <div class="col-xl-3 col-lg-6">
          <a href="Javascript:void(0)" [routerLink]="['/parkings']">
            <app-stat [bgClass]="'success'" [icon]="'fa-plane'" [count]="nb_plane" [label]="'Avion'" ></app-stat>
          </a>
        </div>
        <div class="col-xl-3 col-lg-6">
          <a href="Javascript:void(0)" [routerLink]="['/parkings']">
            <app-stat [bgClass]="'danger'" [icon]="'fab fa-accessible-icon'" [count]="nb_disabled" [label]="'Handicapé'"></app-stat>
          </a>
        </div>
    </div>
    <hr />
</div>
