<div [@routerTransition]>
    <app-page-header [heading]="'Ajouter un parking'" [icon]="'fa-plus'"></app-page-header>
    <div class="col-lg-6">

      <form role="form">
        <fieldset class="form-group">
          <label>Nom</label>
          <input class="form-control" placeholder="Nom">
        </fieldset>

        <fieldset class="form-group">
          <label>Adresse</label>
          <input class="form-control" placeholder="Adresse">
        </fieldset>

        <button type="submit" class="btn btn-success">Ajouter</button>

      </form>
    </div>
</div>
