<div [@routerTransition]>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <i class="fa fa-table"></i> <a href="Javascript:void(0)" [routerLink]="['/parkings']">Parkings</a>
    </li>
    <li class="breadcrumb-item">
      <i class="far fa-square"></i> <a href="Javascript:void(0)" [routerLink]="['/spaces', id]">Places</a>
    </li>
    <li class="breadcrumb-item active"><i class="fa fa-plus"></i> Ajouter des places</li>
  </ol>
  <div class="col-lg-6">
    <form role="form" (ngSubmit)="onSubmit()">
      <fieldset class="form-group">
        <label>Nb de places</label>
        <input [(ngModel)]="nb" class="form-control" name="nbplaces" placeholder="Nb de places">
      </fieldset>

      <fieldset class="form-group">
        <label>Type</label>
        <select [(ngModel)]="type" class="form-control" name="type">
          <option value="" disabled selected hidden>Sélectionner un type</option>
          <option value="CAR">Voiture</option>
          <option value="PLANE">Avion</option>
          <option value="BICYCLE">Vélo</option>
          <option value="CAR_DISABLED">Handicapé</option>
        </select>
      </fieldset>

      <button type="submit" class="btn btn-success">Ajouter</button>

    </form>
  </div>
</div>
