<div [@routerTransition]>
    <app-page-header [heading]="'Places'" [icon]="'far fa-square'">

    </app-page-header>
    <a  *ngIf="role == 'ADMIN'" [routerLink]="['/add-space', id]" [routerLinkActive]="['router-link-active']" style="color:white;text-decoration: none;">
      <button type="button" class="btn btn-success" style="margin-bottom: 15px">
        Ajouter des places
      </button>
    </a>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
          <div class="card mb-3">
            <div class="card-header">Toutes les places disponibles</div>
            <table class="card-body table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Propriétaire</th>
                  <th>Type</th>
                  <th *ngIf="role == 'USER'">Demander une réservation</th>
                  <th *ngIf="role == 'ADMIN'">Commande</th>
                </tr>
              </thead>
              <tbody>
              <ng-container *ngFor="let space of spaces">
                <tr class="table-info" *ngIf="space.type == 'CAR'">
                  <th scope="row">{{ space.id }}</th>
                  <td *ngIf="space.user?.id == userId"><b>{{ space.user?.name }}</b></td>
                  <td *ngIf="space.user?.id != userId">{{ space.user?.name }}</td>
                  <td>Voiture</td>
                  <ng-container *ngIf="role == 'USER'" >
                    <td *ngIf="space?.requested"><b>Votre demande est en cours de traitement</b></td>
                    <td *ngIf="space.user == null && !space?.requested">
                      <app-modal-request [id]=space.id (onAddRequest)="onAddRequest($event)"></app-modal-request>
                    </td>
                    <td *ngIf="space.user?.id == userId && !space?.requested">
                      <app-modal-release [id]=space.id [type]=space.type (onReleaseSpace)="onReleaseSpace($event)"></app-modal-release>
                    </td>
                    <td *ngIf="space.user?.id != userId && space.user != null && !space?.requested"></td>
                  </ng-container>
                  <td *ngIf="role == 'ADMIN'">
                    <a [routerLink]="['/spaces/'+id+'/user/'+(space.user?.id != null ? space.user?.id : 0)+'/update-space', space.id]" [routerLinkActive]="['router-link-active']" style="text-decoration: none;">
                      <button type="button" class="btn btn-sm btn-warning" style="color:white">
                        <i class="fas fa-edit"></i>
                      </button>
                    </a>
                    <app-modal-delete [id]=space.id (onDeleted)="onDeleted($event)" ></app-modal-delete>
                  </td>
                </tr>
                <tr class="table-warning" *ngIf="space.type == 'BICYCLE'">
                  <th scope="row">{{ space.id }}</th>
                  <td *ngIf="space.user?.id == userId"><b>{{ space.user?.name }}</b></td>
                  <td *ngIf="space.user?.id != userId">{{ space.user?.name }}</td>
                  <td>Vélo</td>
                  <ng-container *ngIf="role == 'USER'" >
                    <td *ngIf="space?.requested"><b>Votre demande est en cours de traitement</b></td>
                    <td *ngIf="space.user == null && !space?.requested">
                      <app-modal-request [id]=space.id (onAddRequest)="onAddRequest($event)"></app-modal-request>
                    </td>
                    <td *ngIf="space.user?.id == userId && !space?.requested">
                      <app-modal-release [id]=space.id [type]=space.type (onReleaseSpace)="onReleaseSpace($event)"></app-modal-release>
                    </td>
                    <td *ngIf="space.user?.id != userId && space.user != null && !space?.requested"></td>
                  </ng-container>
                  <td *ngIf="role == 'ADMIN'">
                    <a [routerLink]="['/spaces/'+id+'/user/'+(space.user?.id != null ? space.user?.id : 0)+'/update-space', space.id]" [routerLinkActive]="['router-link-active']" style="text-decoration: none;">
                      <button type="button" class="btn btn-sm btn-warning" style="color:white">
                        <i class="fas fa-edit"></i>
                      </button>
                    </a>
                    <app-modal-delete [id]=space.id (onDeleted)="onDeleted($event)" ></app-modal-delete>
                  </td>
                </tr>
                <tr class="table-success" *ngIf="space.type == 'PLANE'">
                  <th scope="row">{{ space.id }}</th>
                  <td *ngIf="space.user?.id == userId"><b>{{ space.user?.name }}</b></td>
                  <td *ngIf="space.user?.id != userId">{{ space.user?.name }}</td>
                  <td>Avion</td>
                  <ng-container *ngIf="role == 'USER'" >
                    <td *ngIf="space?.requested"><b>Votre demande est en cours de traitement</b></td>
                    <td *ngIf="space.user == null && !space?.requested">
                      <app-modal-request [id]=space.id (onAddRequest)="onAddRequest($event)"></app-modal-request>
                    </td>
                    <td *ngIf="space.user?.id == userId && !space?.requested">
                      <app-modal-release [id]=space.id [type]=space.type (onReleaseSpace)="onReleaseSpace($event)"></app-modal-release>
                    </td>
                    <td *ngIf="space.user?.id != userId && space.user != null && !space?.requested"></td>
                  </ng-container>
                  <td *ngIf="role == 'ADMIN'">
                    <a [routerLink]="['/spaces/'+id+'/user/'+(space.user?.id != null ? space.user?.id : 0)+'/update-space', space.id]" [routerLinkActive]="['router-link-active']" style="text-decoration: none;">
                      <button type="button" class="btn btn-sm btn-warning" style="color:white">
                        <i class="fas fa-edit"></i>
                      </button>
                    </a>
                    <app-modal-delete [id]=space.id (onDeleted)="onDeleted($event)" ></app-modal-delete>
                  </td>
                </tr>
                <tr class="table-danger" *ngIf="space.type == 'CAR_DISABLED'">
                  <th scope="row">{{ space.id }}</th>
                  <td *ngIf="space.user?.id == userId"><b>{{ space.user?.name }}</b></td>
                  <td *ngIf="space.user?.id != userId">{{ space.user?.name }}</td>
                  <td>Handicapé</td>
                  <ng-container *ngIf="role == 'USER'" >
                    <td *ngIf="space?.requested"><b>Votre demande est en cours de traitement</b></td>
                    <td *ngIf="space.user == null && !space?.requested">
                      <app-modal-request [id]=space.id (onAddRequest)="onAddRequest($event)"></app-modal-request>
                    </td>
                    <td *ngIf="space.user?.id == userId && !space?.requested">
                      <app-modal-release [id]=space.id [type]=space.type (onReleaseSpace)="onReleaseSpace($event)"></app-modal-release>
                    </td>
                    <td *ngIf="space.user?.id != userId && space.user != null && !space?.requested"></td>
                  </ng-container>
                  <td *ngIf="role == 'ADMIN'">
                    <a [routerLink]="['/spaces/'+id+'/user/'+(space.user?.id != null ? space.user?.id : 0)+'/update-space', space.id]" [routerLinkActive]="['router-link-active']" style="text-decoration: none;">
                      <button type="button" class="btn btn-sm btn-warning" style="color:white">
                        <i class="fas fa-edit"></i>
                      </button>
                    </a>
                    <app-modal-delete [id]=space.id (onDeleted)="onDeleted($event)" ></app-modal-delete>
                  </td>
                </tr>
                <tr class="table" *ngIf="space.type == null">
                  <th scope="row">{{ space.id }}</th>
                  <td *ngIf="space.user?.id == userId"><b>{{ space.user?.name }}</b></td>
                  <td *ngIf="space.user?.id != userId">{{ space.user?.name }}</td>
                  <td></td>
                  <ng-container *ngIf="role == 'USER'" >
                    <td *ngIf="space?.requested"><b>Votre demande est en cours de traitement</b></td>
                    <td *ngIf="space.user == null && !space?.requested">
                      <app-modal-request [id]=space.id (onAddRequest)="onAddRequest($event)"></app-modal-request>
                    </td>
                    <td *ngIf="space.user?.id == userId && !space?.requested">
                      <app-modal-release [id]=space.id [type]=space.type (onReleaseSpace)="onReleaseSpace($event)"></app-modal-release>
                    </td>
                    <td *ngIf="space.user?.id != userId && space.user != null && !space?.requested"></td>
                  </ng-container>
                  <td *ngIf="role == 'ADMIN'">
                    <a [routerLink]="['/spaces/'+id+'/user/'+(space.user?.id != null ? space.user?.id : 0)+'/update-space', space.id]" [routerLinkActive]="['router-link-active']" style="text-decoration: none;">
                      <button type="button" class="btn btn-sm btn-warning" style="color:white">
                        <i class="fas fa-edit"></i>
                      </button>
                    </a>
                    <app-modal-delete [id]=space.id (onDeleted)="onDeleted($event)" ></app-modal-delete>
                  </td>
                </tr>
              </ng-container>
              </tbody>
            </table>
          </div>
        </div>
    </div>
</div>
