<div class="card text-white bg-{{bgClass}}">
    <div class="card-header">
        <div class="row">
            <div class="col col-xs-3">
                <i class="fa {{icon}} fa-5x"></i>
            </div>
            <div class="col col-xs-9 text-right">
              <div class="d-block">{{label}}</div>
              <div class="d-block huge"><b>{{count}} places disponibles</b></div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <span class="float-left">Voir les détails {{data}}</span>
            <span  class="float-right card-inverse" ><i class="fas fa-arrow-circle-right" style="color:white"></i></span>
    </div>
</div>
