<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/parking256.png" width="150px" />
            <h1>Application ParkinGo</h1><h4>Inscription</h4>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="username" name="username" class="form-control input-underline input-lg" placeholder="Identifiant">
                    </div>
                    <div *ngIf="error_username">Le nom d'utilisateur doit contenir au moins 4 caractères</div>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="password" name="password" class="form-control input-underline input-lg" placeholder="Mot de passe">
                    </div>
                    <div *ngIf="error_password">Le mot de passe doit contenir au moins 6 caractères</div>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="repeat_password" name="repeat_password" class="form-control input-underline input-lg" placeholder="Répéter le mot de passe">
                    </div>
                    <div *ngIf="error_repeat_password">Les mots de passe doivent être identiques</div>
                </div>
                <a class="btn rounded-btn" (click)="onSignup()"> S'inscrire </a>&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']"> Se connecter </a>
            </form>
        </div>
    </div>
</div>
