<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a [routerLink]="['/dashboard']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-calendar-minus"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>
        <a [routerLink]="['/parkings']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Parkings' | translate }}
        </a>
        <a *ngIf="role == 'USER'" [routerLink]="['/myspaces']" [routerLinkActive]="['router-link-active']" class="list-group-item">
          <i class="fa fa-fw far fa-square"></i>&nbsp;{{ 'Mes places' | translate }}
        </a>
    </div>
</nav>
